.canvas {
    margin-left: auto;
    margin-right: auto;
    margin: 2em;
    background-color: black;
  }

.error {
  color: white;
  padding: 15px 50px;
}

button {
  padding: 8px 15px;
  background-color: #7239EA;
  cursor: pointer;
  color: white;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid #7239EA;
  border-radius: 5px;
  width: 150px;
  text-transform: uppercase;
  height: 40px;
}

button:hover {
  background-color: #552fa8;
  border: 1px solid #552fa8;

}

button:disabled {
  cursor: default;
  background-color: #a2a2a2;
  border-color: #a2a2a2;
}

label {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

select {
  font-size: 16px;
  font-weight: 600;
  color: #1C1B29;
  padding: 10px 10px;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  width: 250px;
  height: 40px;
}
select:hover {
  cursor: pointer;
}
select:checked, select:focus {
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
}

select option {
  font-weight: 400;
  color: #444;
}

select option {
  font-weight: 400;
  color: #444;
}

.slider {
  translate: 0px 5px;
  appearance: none;
  height: 10px;
  background: white;
  border-radius: 0.5em;
  width: 100%;
}

.slider:hover {
  background-color: #e5e4e4;
  cursor: pointer;
}

.slider:disabled {
  cursor: default;
  background-color: #a2a2a2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #7239EA;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border: 0px;
  width: 25px;
  height: 25px;
  background: #7239EA;
  cursor: pointer;
}


.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1C1B29 !important;
  width: 100%;
  padding: 0px 150px;
  padding-top: 10px;
  padding-bottom: 16px;
}
.firstDiv, .secondDiv, .thirdDiv{
  display: block;
}
label{
  font-size: 15px;
  color: white !important;
} 
.d-flex{
  display: flex;
}
.w-100{
  width: 100%;
}
.childFirstDiv{
  padding-top: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.childThirdDiv{
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thirdDiv{
  text-align: left;
}
.firstDiv{
  text-align: left;
}
.ms-1{
  margin-left: 15px;
}
.me-1{
  margin-right: 15px;
}